<header>
    <div id="Header">
        <div id="Head">
            <h1 title="供货港管理系统">供货港管理系统</h1>
            <script language="javascript">
                function showmenu(id){id.style.visibility = "visible";}
                function hidmenu(){UserList.style.visibility = "hidden";}
                document.onclick = hidmenu;
            </script>
            <div class="user">
                <a href="javascript:showmenu(UserList)">admin</a>
                <div id="UserList">
                    <a href="">修改</a>
                    <a href="{:url('login/Login/logOut')}">退出</a>
                </div>
            </div>
        </div>
    </div>
</header>