{layout name="layout" /}
<title>添加供应商</title>
<style>
    @charset "utf-8";
    * {
        margin: 0;
        padding: 0;
        border: 0;
    }

    body {
        font-family: "Microsoft YaHei", Verdana, Arial, Helvetica, sans-serif;
        font-size: 12px;
        color: #333;
    }

    ul, ol, ul li, ol li, li {
        list-style: none;
    }

    input {
        font-family: "Microsoft YaHei";
    }

    img {
        border: none;
        vertical-align: middle
    }

    a {
        color: #333;
        display: inline-block;
        text-decoration: none;
        outline: none; /*移除虚线框  IE8,FF有用*/
        hide-focus: expression(this.hideFocus=true); /*IE6、IE7*/
    }

    a:hover {
        color: #e42900;
        text-decoration: none;
    }

    a:focus {
        outline: none;
    }

    *, *:before, *:after {
        box-sizing: inherit;
    }

    /*  */
    form {
        width: 942px;
        margin: 30px auto 0px;
        background: #f4f4f4;
        border: 1px solid #ccc;
        padding: 40px 20px;
    }

    #Contents form div {
        display: table;
        margin-bottom: 20px;
    }

    form div {
        display: table;
        margin-bottom: 20px;
    }

    div label {
        display: inline-block;
        float: left;
        width: 110px;
        text-align: right;
        margin-right: 10px;
        height: 35px;
        line-height: 35px;
        font-size: 14px;
    }

    div input {
        float: left;
        height: 35px;
        line-height: 35px;
        width: 400px;
        text-indent: 1em;
        color: #c2c2c2;
    }

    div input#btn {
        height: 30px;
        line-height: 28px;
        text-align: center;
        color: #fff;
        background: #e40000;
        border-radius: 4px;
        width: 100px;
        text-indent: 0;
        font-size: 16px;
        cursor: pointer;
        margin-left: 120px;
    }
</style>
</head>
<body>
<div class="wrap_right">
    <div id="Contents">
        <form action="{:url('supplier_add_submit')}" method="post">
            <div>
                <label for="factory">供应商公司名</label>
                <input type="text" id="factory" name="factory_name"/><br/><br/><br/>
            </div>
            <div>
                <label for="address">工厂地址</label>
                <input type="text" id="address" name="address"/><br/><br/><br/>
            </div>
            <div>
                <label for="phone">座机电话</label>
                <input type="text" id="phone" name="phone"/><br/><br/><br/>
            </div>
            <div>
                <label for="name">联系人</label>
                <input type="text" id="name" name="name"/><br/><br/><br/>
            </div>
            <div>
                <label for="mobile">联系人手机</label>
                <input type="text" id="mobile" name="mobile"/><br/><br/><br/>
            </div>
            <div>
                <label for="mobile">供应商编号</label>
                <input type="text" id="sup_num" name="sup_num"/><br/><br/><br/>
            </div>
            <div>
                <input type="hidden" id="fstchar" name="fstchar"/>
            </div>
            <div>
                <input type="submit" id="btn" value="添加">
            </div>
        </form>
    </div>
</div>
<script>
    $('#factory').blur(function () {
        var str = $('#factory').val();
        var pinyin = codefans_net_CC2PY(str);
        $('#fstchar').val(pinyin);
    });
</script>
</body>
</html>